@import "tailwindcss";

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}
.text-stroke {
  -webkit-text-stroke: 0.1px #FFC857; /* Border color */
  color: transparent; /* Make inside transparent if you only want border */
}

/* If you want both filled text + border */
.text-stroke-filled {
  -webkit-text-stroke: 0.1px #FFC857; 
  color: #FFC857;
}
